.user__icon{
    border-radius: 10rem;
    margin: 1rem;
    width: 3rem; 
}

.comment{
    margin-top: 4%;
    color: white;
    display: flex;
    
}

.user__icon__container{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.comment__interactions{
    margin-top: 8px;
    display: flex;
    gap: 0.3rem;
}

.likes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.dislikes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball{
    width: 6px;
    border: solid 1px;
    height: 6px;
    background-color: white;
    border-radius: 20px;
}

.comment__user__username{
    gap: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.comment__total__answers{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.comment__like__btn{
    cursor: pointer;
}

.comment__dislike__btn{
    cursor: pointer;
}

.comment__answers{
    margin-left: 3rem;
}