.like__btn{
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    background-color: var(--purple);
    border: solid 1px var(--purple);
    border-radius: 0.313rem;
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 10px;
    cursor: pointer;
}

.dislike__btn{
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    background-color: var(--purple);
    border: solid 1px var(--purple);
    border-radius: 0.313rem;
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
}

.like__btnactive{
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    background-color: var(--purple);
    border: solid 1px var(--purple);
    border-radius: 0.313rem;
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 10px;
    cursor: pointer;
}

.dislike__btnactive{
    align-items: center;
    justify-content: center;
    color: #fff;
    background: none;
    background-color: var(--purple);
    border: solid 1px var(--purple);
    border-radius: 0.313rem;
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
}