
/* Containers */
.container__all__login {
    box-sizing: border-box;
    width: 100%;    
    background-color: var(--darkpurple);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.container__login {
    width: 20rem;
    color: var(--whitesmoke);
        

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Content login */
.container__login h1 {
    font-size: 22px;
    color: var(--lightpurple);
}

.container__login h2 {
    width: 70%;
    margin: 2rem 0;

    font-size: 14px;
    font-weight: 400;
    text-align: center;
    word-break: normal;
}

.container__inputs__login {
    width: 100%;
    height: 10rem;
    padding: 0 1rem; 

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


/* Detalhes do login */
.container__specialty__login {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.container__specialty__login div {
    display: flex;
    align-items: center;
}

.container__specialty__login div input {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.container__specialty__login div label {
    font-size: 12px;
    margin-left: 4px;
    font-weight: 400;
}

.container__specialty__login span {
    font-size: 12px;
    font-weight: 400;
    color: var(--lightpurple);
    text-decoration: underline;
    cursor: pointer;
}

/* Botão */
.container__button__login {
    width: 50%;
    height: auto;
    padding: 2rem 0 1rem 0;
}

/* Separação */
.container__seperation__login {
    width: 100%;
    padding-bottom: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__seperation__login span {
    font-size: 12px;
    color: var(--lightpurple);
    padding: 0 8px;
}

.container__seperation__login div {
    width: 100%;
    height: 1px;
    background-color: var(--lightpurple);
}

/* Facebook e Google */
.container__other__login {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.container__other__login div {
    width: 2.7rem;
    height: 2.7rem;
    background-color: var(--purple);
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navegação para registro */
.container__register__login {
    width: 35%;
    font-size: 14px;
    color: var(--whitesmoke);
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    box-sizing: border-box;
    padding: 1rem 0;
}

.container__register__login span:last-of-type a{
    color: var(--lightpurple);
    text-decoration: underline;
    cursor: pointer;
}
