.container__all__login {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: var(--darkpurple);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container__login {
    width: 20rem;
    height: 35rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__login h1 {
    font-size: 22px;
}

.container__login h2 {
    width: 80%;
    margin: 2rem 0;

    font-size: 16px;
    text-align: center;
    word-break: normal;
}

.container__inputs__login {
    width: 100%;
    padding: 0 1rem;
    
}


