.input__group {
    position: relative;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input__control {
    height: 3rem;
    width: 100%;
    font-size: 16px;

    box-sizing: border-box;
    border: none;
    padding: 0 13px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input__control:focus {
    border-color: var(--purple);
}

.input__control:focus+label {
    transform: translateY(-170%);
    font-size: 16px;
    color: var(--lightpurple);
}

.active {
    transform: translateY(-170%);
    font-size: 16px;
    color: var(--lightpurple);
}

.label__input {
    position: absolute;
    left: 0;
    font-size: 16px;
    color: var(--darkblue);
    transition: 0.2s ease-out;
    pointer-events: none;
    box-sizing: border-box;
    padding: 0 14px;
}