.horizontal-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-carousel .slick-slide {
    width: 9.625rem;
    height: 16.75rem;
    background: url("../../../assets/image/img_shorts.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}