.container__all__register {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--darkpurple);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}