/* Containers */
.container__all__register {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--darkpurple);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
}

.container__register {
    width: 20rem;
    height: auto;
    color: var(--whitesmoke);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
}

/* Content cadastro */
.container__register h1 {
    font-size: 22px;
    color: var(--lightpurple);
}

.container__register h2 {
    width: 70%;
    margin: 2rem 0;

    font-size: 14px;
    font-weight: 400;
    text-align: center;
    word-break: normal;
}

.container__inputs__register {
    width: 100%;
    height: 25rem;
    padding: 0 1rem; 

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* Botão */
.container__button__register {
    width: 50%;
    height: auto;
    padding: 1rem 0 1rem 0;
}

/* Separação */
.container__seperation__register {
    width: 100%;
    padding-bottom: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__seperation__register span {
    font-size: 12px;
    color: var(--lightpurple);
    padding: 0 8px;
}

.container__seperation__register div {
    width: 100%;
    height: 1px;
    background-color: var(--lightpurple);
}

/* Facebook e Google */
.container__other__register {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.container__other__register div {
    width: 2.7rem;
    height: 2.7rem;
    background-color: var(--purple);
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navegação para login */
.container__login__register {
    width: 45%;
    font-size: 14px;
    color: var(--whitesmoke);
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    box-sizing: border-box;
    padding: 1rem 0;
}

.container__login__register span:last-of-type a{
    color: var(--lightpurple);
    text-decoration: underline;
    cursor: pointer;
}
