.container__side__bar {
    width: 5rem;
    top: 0;
    height: 100%;
    background-color: var(--darkpurple);
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.container__side__bar::-webkit-scrollbar {
    width: 12px;
}

.container__side__bar::-webkit-scrollbar-track {
    background: var(--darkpurple);
}

.container__side__bar::-webkit-scrollbar-thumb {
    background-color: var(--lightpurple);
    border-radius: 20px;
    border: 3px solid var(--darkpurple);
}

.category__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    gap: 1.3rem;
}

.modal__category__item__side {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: start;
    color: var(--whiteBlack);

    width: 100%;
}

.icon__category__side {
    width: 1.1rem;
}

.icon__category__area__side {
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    border-radius: 10px;
}

.icon__category__area__side:active {
    background-color: var(--purple);
    cursor: pointer;
}

/* ----------------------------------------------- */

.label__category__side {
    visibility: hidden;
    width: 0;
    height: 0;
}

.openModal__side {
    width: 12.9rem !important;
}

.openBoxes__side {
    margin-top: 2.1rem;
}

.openItem__side {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.open__side {
    visibility: visible !important;
    width: auto !important;
    height: auto !important;
}

.icon__hamburguer__side:hover {
    color: var(--lightpurple) !important;
    transition: 0.3s;
    transform: translateY(-1.5px);
    cursor: pointer;
}