.container__side__bar {
    position: fixed;

    width: 5rem;
    height: 90%;

    top: 4rem;
    z-index: 2;

    background-color: var(--darkpurple);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;
}

.category__box {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.modal__category__item__side {
    width: 2.5rem;
    height: 2.5rem;

    background-color: var(--darkblue);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .3s ease-in-out;

    text-decoration: none;
}

.modal__category__item__side>div {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__category__item__side>div>div:first-of-type {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__category__item__side>div>div:first-of-type>svg {
    width: 1.3rem;
    height: 2rem;

    color: var(--whitesmoke);
}

.modal__category__item__side:hover {
    background-color: var(--purple);
}

.active__category {
    background-color: var(--purple);
}

/* Barra lateral aberta */
.side__bar__open {
    width: 15rem;
}

.open__item__container {
    width: 20% !important;
}

.internal__side__bar__open {
    width: 90%;
    align-items: flex-start;

    margin-left: 1rem;
}

.item__side__bar__open {
    width: 90%;
    height: 2.5rem;
}

.item__side__bar__open>div {
    width: 100%;
    justify-content: space-around;
}

.item__side__bar__open>div p {
    color: var(--whitesmoke);
    font-size: 14px;
}

.name__category__side__bar {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;
    white-space: nowrap;
}