.container__banner {
  background-color: var(--purple);
  height: 20vh;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  border-radius: 10px;
}

.slick-center {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.container__banner__desk {
  background-color: var(--purple);
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container__banner__large__desk {
  background-color: var(--purple);
  height: 40vh;
  justify-content: center;
  align-items: center;
  display: flex;
}