.horizontal-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags__search {
    margin-left: 10%;
    background-color: var(--lightpurple);
    border-radius: 25px;
    text-align: center;
    min-width: 2rem; 
    max-width: 7.5rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding: .3rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.tags__search>span {
    font-size: 12px;
}

/* Responsividade  */

@media screen AND (min-width: 760px){
    .tags__search{
        max-width: 18rem;
    }

    .tags__search>span{
        font-size: 18px;
    }
}

@media screen AND (min-width: 1000px){
    .tags__search{
        max-width: 28rem;
    }

    .tags__search>span{
        font-size: 22px;
    }
}