.horizontal-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags__search {
    background-color: var(--lightpurple);
    width: 8rem;
    height: 1rem;
    border-radius: 25px;
    text-align: center;
}

.tags__search>span{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}