.historic__container {
    width: 100%;
    height: 100%;
    background-color: var(--darkpurple);
}

.historic__data>span {
    color: var(--whitesmoke);
    font-size: 14px;
}

.historic__data>div:first-child>span {
    margin-left: 2%;
    font-size: 14px;
}

.container__shorts__historic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__slider__shorts__historic {
    padding-top: 2rem;
    padding-left: 7%;
}

.container__videos__historic__desktop {
    padding-top: 2rem;
    padding-left: 10%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.container__videos__historic__tablet {
    padding-top: 2rem;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.container__videos__historic__mob {
    padding-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .historic__data>div:first-child>span {
        font-size: 20px;
    }
}