/* Mobile */
.profile__container__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.profile__pic {
    margin: 0 auto;
}

.profile__name {
    color: var(--lightpurple);
}

.profile__subscribe__button {
    background-color: var(--purple);
    border: 0;
    color: var(--whitesmoke);
    padding: 0.7rem;
    border-radius: 1rem;
}

.profile__id {
    font-size: 13px;
    color: var(--lightpurple);
}

.profile__details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 13px;
}

.profile__description {
    width: 83%;
    text-align: justify;
    font-size: 13px;
}

.profile__box__videos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    gap: 2rem;
}

/* Desktop */
.profile__container__picture__desktop {
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.profile__pic__desktop {
    margin: 0 auto;
}

.profile__box__desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile__box__name_subscribe__desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.profile__name__desktop {
    color: var(--lightpurple);
}

.profile__subscribe__button__desktop {
    background-color: var(--purple);
    border: 0;
    color: var(--whitesmoke);
    padding: 0.7rem;
    border-radius: 1rem;
}

.profile__id__desktop {
    font-size: 13px;
    color: var(--lightpurple);
}

.profile__details__desktop {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 13px;
}

.profile__description__desktop {
    width: 83%;
    text-align: justify;
    font-size: 13px;
}

.profile__box__videos__desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 2rem;
    padding-left: 10%;
    gap: 2rem;
}