body{
    background: rgb(31,29,43);
background: linear-gradient(180deg, rgba(31,29,43,1) 0%, rgba(49,37,79,1) 88%);
}

.like__dislike__btns{
    display: flex;
    justify-content: end;
    gap: 0.6rem;
    float: right;
}

.views__div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.likes__div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.interaction{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.9rem;
    margin: 1rem;
    font-weight: bolder;
}

.video__title{
    color: #fff;
    margin: 1rem;
    font-size: 2rem;
}

.interaction__info{
    display: flex;
    gap: 0.5rem;
}

.video__player__tablet{
    margin: 0;
    width: 100%;
    height: 100%;
}


.channel{
    width: max-content;
}

.comments__container{
    margin: 1rem;
}

.total__comments{
    color: var(--lightpurple);
}

.things{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 2.5rem;
}

.return__btn{
    width: max-content;
    display: flex;
    align-items: center;
    color: white;
    margin: 1rem;
    gap: 0.5rem;
}

.comments{
    margin-top: 1rem;
}

.player__page{
    margin: 1rem;
}

.videos__tablet{
    margin: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.videos__tablet__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
