.channel__name{
    font-size: 0.8rem;
}

.channel__subs{
    font-size: 0.68rem;
}

.component{
    display: flex;
    gap: 2rem;
}

.channel__info{
    color: var(--whiteBlack);
    width: max-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.channel__image{
    border-radius: 10rem;
    margin: 1.5rem;
    width: 2rem;
    cursor: pointer;
}

.subscribe{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.subscribe__btn{
    background: none;
    border: solid var(--purple) 6px;
    background-color: var(--purple);
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    height: 2rem;
    width: 7rem;
    cursor: pointer;
}

.subscribe__btn:hover{
    border: solid var(--purplehover) 6px;
    background-color: var(--purplehover);
}

.channel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.channel__container{
    display: flex;
}