 /* Home Mobile */

.container__home {
    background-color: var(--darkpurple);
}

.container__slider__base_desk {
    padding-top: 4rem;
    align-items: center;
    display: flex;
    
}

.container__video__cards {
    padding-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container__shorts__cards__mobile {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 4rem;
}

/* Home Desktop */

.container__video__cards__desk {
    padding-top: 4rem;
    padding-left: 10%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.container__video__cards__tablet {
    padding-top: 4rem;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.container__shorts__cards__desk {
    padding-top: 4rem;
    padding-left: 10%;
    
}

.container__shorts__cards__tablet {
    padding-top: 4rem;
    padding-left: 7%;
}