/* mobile */

.profile__settings {
    width: 7rem;
    height: 7rem;
    top: 5%;
}

.settings__container,
.settings__container__desktop {
    height: 100%;
}

.settings__options__buttons__delete_div {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.settings__form {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings__box__image__options {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.settings__image__options__buttons {
    background-color: transparent;
    border: 0;
    color: var(--white-smoke);
    cursor: pointer;
}

.settings__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.2rem;
    gap: 0.5rem;
}

.settings__input {
    color: rgb(77, 75, 75);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    border: 0;
}

.settings__input:focus {
    outline: 0;
    border: 0;
}

.settings__field__textarea__input {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 10rem !important;
    border-radius: 0.5rem;
}

.settings__field__textarea__input:focus {
    outline: 0;
    border: 0;
}

.settings__options__buttons__delete {
    background-color: transparent;
    border: 0;
    color: var(--lightpurple);
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 2rem;
}

.settings__options__buttons__div {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.settings__options__buttons__cancel {
    color: var(--white-smoke);
    background-color: var(--lightpurple);
    border: none;
    height: 2rem;
    width: 35%;
    border-radius: 0.5rem;
}

.settings__options__buttons__confirm {
    color: var(--white-smoke);
    background-color: var(--purple);
    border: none;
    height: 2rem;
    width: 35%;
    border-radius: 0.5rem;
}

/* desktop */

.settings__form__desktop {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.profile__settings__desktop {
    width: 10rem;
    height: 10rem;
    top: 5%;
}

.settings__box__image__options__desktop {
    margin-bottom: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.settings__image__options__buttons__desktop {
    background-color: transparent;
    border: 0;
    color: var(--white-smoke);
    cursor: pointer;
}

.settings__field_container__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
}

.settings__field__desktop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    gap: 0.5rem;
}

.settings__input__desktop {
    color: rgb(77, 75, 75);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    border: 0;
}

.settings__field__textarea__desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
}

.settings__input__desktop:focus,
.settings__field__textarea__input__desktop:focus {
    outline: 0;
    border: 0;
}

.settings__field__textarea__input__desktop {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 10rem !important;
    border-radius: 0.5rem;
}

.settings__options__buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0;
    width: 100%;
}

.settings__options__buttons__delete__desktop {
    background-color: transparent;
    border: 0;
    color: var(--lightpurple);
    cursor: pointer;
}

.settings__options__buttons__div__desktop {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.settings__options__buttons__cancel__desktop {
    color: var(--white-smoke);
    background-color: transparent !important;
    border: none;
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.settings__options__buttons__confirm__desktop {
    color: var(--white-smoke);
    background-color: var(--purple);
    border: none;
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.settings__input__container__desktop {
    gap: 7rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings__input__box {
    width: 100%;
}

/* TABLET */

.settings__input__container__tablet {
    width: 100%;
    display: contents;
}


.profile__settings__tablet {
    width: 12rem;
    height: 12rem;
    top: 5%;
}

.settings__container,
.settings__container__desktop,
.settings__container__tablet {
    height: 100%;
}

.settings__options__buttons__delete_div__tablet {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.settings__form__tablet {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings__box__image__options__tablet {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.settings__image__options__buttons__tablet {
    font-size: 20px;
    background-color: transparent;
    border: 0;
    color: var(--white-smoke);
    cursor: pointer;
}

.settings__field__tablet {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.2rem;
    gap: 0.5rem;
}

.settings__input__tablet {
    color: rgb(77, 75, 75);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    border: 0;
    width: 100%;
}

.settings__input__tablet:focus {
    outline: 0;
    border: 0;
}

.settings__field__textarea__input__tablet {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 10rem !important;
    border-radius: 0.5rem;
}

.settings__field__textarea__input__tablet:focus {
    outline: 0;
    border: 0;
}

.settings__options__buttons__delete__tablet {
    font-size: 20px;
    background-color: transparent;
    border: 0;
    color: var(--lightpurple);
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 2rem;
}

.settings__options__buttons__div__tablet {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.settings__options__buttons__cancel__tablet {
    color: var(--white-smoke);
    background-color: var(--lightpurple);
    border: none;
    height: 2rem;
    width: 35%;
    border-radius: 0.5rem;
}

.settings__options__buttons__confirm__tablet {
    color: var(--white-smoke);
    background-color: var(--purple);
    border: none;
    height: 2rem;
    width: 35%;
    border-radius: 0.5rem;
}

/* MODAL */

.modal__overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    height: 8rem;
    top: 39%;
    background-color: var(--beige);
    position: absolute;
    z-index: 2;
}

.background {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    background-color: black;
    z-index: 1;
}

.modal__buttons {
    padding-left: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.text {
    color: black;
    margin: 1.5rem;
    text-align: center;
}

.modal__overlay_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    top: 39%;
    background-color: var(--beige);
    position: absolute;
    z-index: 2;
    margin: 1rem;
    padding: 1rem;
}

.modal__overlay_tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    height: 15%;
    display: flex;
    top: 0%;
    background-color: var(--beige);
    position: absolute;
    z-index: 2;
    margin: 52% 25%;
    padding: 1rem;
}


.background {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    background-color: black;
    z-index: 1;
}

.modal__buttons {
    padding-left: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.text {
    color: black;
    margin: 1.5rem;
    text-align: center;
}