.profile__settings {
    
    width: 7rem;
    height: 7rem;
    top: 5%;
    
}

.settings__form {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings__box__image__options {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.settings__image__options__buttons {
    background-color: transparent;
    border: 0;
    color: var(--white-smoke);
    cursor: pointer;
}

.settings__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
}

.settings__input {
    color: rgb(77, 75, 75);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    border: 0;
}

.settings__input:focus {
    outline: 0;
    border: 0;
}

.settings__field__textarea__input {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 10rem !important;
    border-radius: 0.5rem;
    width: 84vw !important;
    
}

.settings__field__textarea__input:focus {
    outline: 0;
    border: 0;
}

.settings__image__options__buttons__delete {
    background-color: transparent;
    border: 0;
    color: var(--lightpurple);
    cursor: pointer;
    padding-left: 2rem ;
    padding-top: 1rem;
}