.background__modal__profile {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__profile__container {
  right: 2.5%;
  top: 8.5%;
  z-index: 100;
  position: fixed;
  width: 10rem;
  height: fit-content;
  padding: 2rem;
  background-color: var(--darkblue);
  border-radius: 10px;
}

.modal__profile__itens{
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.modal__profile__itens a {
  text-decoration: none;
  color: var(--white);
}

.modal__profile__container::after {
  position: absolute;
  content: '';
 
  --arrow-modal: 5rem;
 
  width: 0;
  height: 0;
 
  border-radius: 10px;
  background-color: var(--darkblue);
 
  top: 0;
  left: 85%;
 
  z-index: 100;
 
  border: calc(var(--arrow-modal) * 0.13) solid transparent;
  margin-left: calc(var(--arrow-modal) * 0.13 * -1);
  margin-top: calc(var(--arrow-modal) * 0.13 * -1);
 }

.divider__profile__modal {
  height: 1px;
  background-color: var(--darkpurple);
  margin: 0.5rem 0 0.5rem 0;
}
