.modal__profile__container {
  position: absolute;

  width: 10rem;
  height: 10rem;

  right: 3.2rem;
  top: 3.5rem;

  z-index: 100;
  padding: 2rem;

  background-color: var(--darkblue);
  border-radius: 10px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.modal__profile__container>div {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__profile__container a {
  text-decoration: none;
  color: var(--white);
}

.modal__profile__container::after {
  position: absolute;
  content: '';

  --arrow-modal: 5rem;

  width: 0;
  height: 0;

  border-radius: 10px;
  background-color: var(--darkblue);

  top: 0;
  left: 85%;

  z-index: 100;

  border: calc(var(--arrow-modal) * 0.13) solid transparent;
  margin-left: calc(var(--arrow-modal) * 0.13 * -1);
  margin-top: calc(var(--arrow-modal) * 0.13 * -1);
}

.divider__profile__modal {
  height: 1px;

  background-color: var(--darkpurple);
}