.like__dislike__btns {
    display: flex;
    justify-content: end;
    gap: 0.6rem;
    float: right;
}

.views__div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.likes__div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.interaction {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.9rem;
    margin: 1rem;
    font-weight: bolder;
}

.video__title {
    color: var(--whiteBlack);
    margin: 1rem;
    font-size: 2rem;
}

.space {
    height: 50px;
}

.interaction__info {
    display: flex;
    gap: 0.5rem;
}

.video__player__desktop {
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 25em;
}

.video__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel {
    width: max-content;
}

.comments__container {
    margin: 1rem;
}

.total__comments {
    color: var(--lightpurple);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teste {
    display: flex;
    justify-content: center;
    align-items: center;
}

.things {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 2.5rem;
}

.return__btn {
    width: max-content;
    display: flex;
    align-items: center;
    color: white;
    margin: 1rem;
    gap: 0.5rem;
}

.comments {
    margin-top: 1rem;
}

.player__page {
    margin: 1rem;
}

.videos__desktop {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 2rem;
}

.toggleComment {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.comments__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 10px;
}

.comments__input>input {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 0.6rem;
    padding: 0.7rem;
    font-weight: bolder;
}

.comments__input>input:focus {
    border: solid var(--lightpurple) 2.5px;
}

.no__comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no__comments__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send__comments__icon {
    background-color: var(--purple);
    border: solid var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.send__comments__icon:hover {
    background-color: var(--purplehover);
    border: solid var(--purplehover);
}

.show__more__comments {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--lightpurple);
}