.background {
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

.menu{
  cursor: pointer;
}

.MenuIcon {
    color: var(--lightpurple);
    font-size: 2rem;
    cursor: pointer;
}

.modal__category__content{
    z-index: 100;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 100%;
    width: 50%;
    gap: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--darkpurple);
}

.modal__category__content__tablet {
    z-index: 100;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 100%;
    width: 35%;
    gap: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--darkpurple);
}

.close__icon {
    color: var(--purple);
    position: fixed;
    font-size: 1.2rem;
    cursor: pointer;
}

.close__icon__tablet {
    color: var(--purple);
    position: fixed;
    font-size: 2rem;
    cursor: pointer;
}

.close__icon__area {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--white);
    padding-right: 0.1rem;
    height: 100%;
}

.close__icon__area__tablet {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--white);
    padding-right: 0.3rem;
    height: 100%;
}

.modal__category__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    color: var(--white);
    font-size: 22px;
}

.modal__category__title__tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    color: var(--white);
    font-size: 30px;
}

.modal__category__content__detail {
    z-index: 100;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 100%;
    width: 55%;
    gap: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--lightpurple);
}

.modal__category__content__detail__tablet {
    z-index: 100;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: 100%;
    width: 40%;
    gap: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--lightpurple);
}

.icon__close__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal__category__item {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: start;
    color: var(--white);
}

.modal__category__item__tablet {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: start;
    color: var(--white);
}

.icon__category {
    height: 1rem;
    width: 1rem;
}

.icon__category__tablet {
    height: 1.5rem;
    width: 1.5rem;
}

.icon__category__area {
    display: flex;
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    border-radius: 10px;
}

.icon__category__area:hover {
    background-color: var(--purple);
}

.icon__category__area__tablet {
    display: flex;
    margin-left: 1rem;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    border-radius: 10px;
}

.icon__category__area__tablet:hover {
    background-color: var(--purple);
}