.input__group__disabled {
    position: relative;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__control__disabled {
    height: 3rem;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    padding: 0 13px;
    outline: none;
    border: 1px solid var(--darkblue);
    border-radius: 10px;
    transition: 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__control__disabled:focus+label {
    transform: translateY(-170%);
    font-size: 16px;
    color: var(--lightpurple);
}

.input__control__disabled::placeholder {
    color: transparent;
}

.input__control__disabled[title]::after {
    content: attr("Drogaaaaa");
    color: #fff;
    background-color: black !important;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
}

.active {
    transform: translateY(-170%);
    font-size: 16px;
    color: var(--lightpurple);
    
}

.label__input__disabled {
    position: absolute;
    left: 0;
    font-size: 16px;
    color: var(--darkblue);
    transition: 0.2s ease-out;
    pointer-events: none;
    box-sizing: border-box;
    padding: 0 14px;
}