/* Containers */
.container__all__shorts {
    width: 100%;
    height: 100vh;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--darkpurple);
}

.container__button__pass__shorts {
    width: 2rem;
    height: 78%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    transform: translate(1rem);
}

.container__button__pass__shorts button {
    width: 100%;
    height: 2rem;

    border: none;

    border-radius: 5px;
    cursor: pointer;
}

.container__button__pass__shorts button svg {
    width: 100%;
    height: 100%;

    color: var(--purple);
}

/* Header */
.header__shorts {
    position: absolute;

    width: 30%;

    top: 0.5rem;
    left: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
}

.header__shorts span {
    color: var(--whitesmoke);

    font-size: 16px;
    font-weight: 500;

    transition: .3s ease-in-out;
}

.header__shorts svg {
    width: 2rem;
    height: 2rem;

    color: var(--whitesmoke);

    transition: .3s ease-in-out;
}

.header__shorts:hover span,
.header__shorts.hovered span,
.header__shorts:hover svg,
.header__shorts.hovered svg {
    color: var(--purple);
}

/* Icones */
.container__icons__shorts {
    position: absolute;

    width: 5rem;
    height: 12rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    bottom: 12rem;
    right: 0;
}

.container__icons__shorts> :first-child {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--whitesmoke);
    font-size: 16px;
}

.container__icons__shorts> :first-child>span {
    transition: .3s ease-in-out;

    cursor: pointer;
}

.container__icons__shorts> :last-child {
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    color: var(--whitesmoke);
    font-size: 16px;
}

.container__icons__shorts div svg {
    width: 2rem;
    height: 2rem;

    color: var(--whitesmoke);
    transition: .4s ease-in-out;
    cursor: pointer;
}

.container__icons__shorts> :first-child:hover svg,
.container__icons__shorts> :last-child :nth-child(1):hover,
.container__icons__shorts> :last-child :nth-child(2):hover,
.container__icons__shorts> :first-child:hover span {
    color: var(--purple);
}

/* Informações sobre o vídeo */
.container__informations__video {
    position: absolute;
    width: 90%;
    height: 8rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    color: var(--whitesmoke);
    bottom: 0;
}

.title__short {
    width: 100%;
    height: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title__short span {
    max-width: 80%;
    font-size: 18px;
}

.informations__profile__shorts {
    width: auto;
    height: 20%;
    font-size: 16px;

    display: flex;
    align-items: center;


    padding-left: 1rem;
    flex-grow: 1;
}

.profile__shorts {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex-grow: 1;
}

.profile__shorts img {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    margin-right: .5rem;
}

.profile__shorts span {
    font-size: 14px;
}

.button__submit__shorts {
    flex-shrink: 0;
    width: 8rem;
    height: 50%;
    margin-left: 1rem;
}

.container__video {
    position: relative;

    width: 100%;
    height: 100%;

    margin-bottom: 1rem;
}

.container__video>video {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px;
}

.container__shorts {
    width: 100%;
    max-width: 25rem;
    height: 40rem;

    margin-top: 2rem;

    overflow: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    transition: transform 1s ease;
}

.container__shorts::-webkit-scrollbar {
    display: none;
}

.slide {
    scroll-snap-align: start;
}

/* .animate {
    transform: translateY(-30rem);
} */

/* Responsividade */

@media (min-width: 1200px) {
    /* .container__video {
        width: 30%;
        height: 80%;

        margin-top: 5%;
    } */

    .container__button__pass__shorts {
        height: 81%;

        margin-top: 2.3%;
    }

    /* .container__video>img:first-child {
        width: 100%;
        height: 100%;

        border-radius: 10px;
    } */

    .container__informations__video span {
        font-size: 14px;
    }

    .profile__shorts img {
        border-radius: 50px;
    }

    .container__icons__shorts {
        width: 4rem;
        height: 8rem;

        bottom: 10rem;
    }

    .container__icons__shorts> :first-child {
        font-size: 14px;
    }

    .container__icons__shorts div svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .container__informations__video {
        height: 7rem;
    }

    .button__submit__shorts {
        width: 6rem;

        transform: translate(.4rem);
    }

    .profile__shorts span {
        font-size: 12px;
    }
}

@media (min-width: 835px) and (max-width: 1199.98px) {

    /* .container__video {
        width: 50%;
        height: 65%;

        margin-top: 5%;
    } */

    .container__button__pass__shorts {
        height: 65%;

        margin-top: 5%;
    }

    /* 
    .container__video>img:first-child {
        width: 100%;
        height: 100%;

        border-radius: 10px;
    } */

    .container__informations__video span {
        font-size: 14px;
    }

    .container__icons__shorts {
        width: 4rem;
        height: 8rem;

        bottom: 10rem;
    }

    .container__icons__shorts div svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-width: 576px) and (max-width: 834px) {

    /* .container__video {
        width: 50%;
        height: 65%;

        margin-top: 5%;
    } */

    .container__button__pass__shorts {
        height: 65%;

        margin-top: 5%;
    }

    .container__informations__video span {
        font-size: 14px;
    }

    /* .container__video>img:first-child {
        width: 100%;
        height: 100%;

        border-radius: 10px;
    } */

    .button__submit__shorts {
        width: 6rem;

        transform: translate(.4rem);
    }

    .container__icons__shorts {
        width: 4rem;
        height: 8rem;

        bottom: 10rem;
    }

    .container__icons__shorts div svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}