.dislike__btn__comment{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.dislike__btn__comment__active{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.like__btn__comment{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.like__btn__comment__active{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.like__dislike__buttons__comments{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}