.container__banner__desk {
    background-color: var(--purple);
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container__banner__large__desk {
    background-color: var(--purple);
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
}