/* Modelo Mobile */

.container__short__card {
    position: relative;
    width: 13rem;
    height: 19rem;
    border-radius: 15px;
}

.short__image {
    height: 100%;
    border-radius: 15px;
}

.container__informations__shorts {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 1rem;
    left: 5%;
}

.container__informations__shorts>span:first-child{
    width: 8.5rem;
    height: 1rem;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container__informations__shorts>span:last-child{
    font-size: 12px;
    font-weight: 400;
}

/* Modelo Tablet */

.container__short__card__tablet {
    position: relative;
    height: 25rem;
    width: 15rem;
    border-radius: 15px;
}


/* Modelo Desktop */

.container__short__card__desk {
    position: relative;
    height: 26rem;
    width: 15rem;
    border-radius: 15px;
}
