.container__search {
    width: 100%;
    height: 100%;
    background-color: var(--darkpurple);
}

.header__search {
    margin: 4%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.container__last__search {
    display: flex;
    gap: 12px;
    margin: 4%;
}

.container__last__search>span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}