/* ---------- Mobile & Tablet ---------- */

.container__tags__search {
    margin-top: 2%;
    width: 100%;
}

.container__result__search {
    width: 100%;
    height: 100vh;
    background-color: var(--darkpurple);
}

.container__filter {
    width: 20%;
    height: 2vh;
    margin: 5%;
    gap: 5%;
    padding: 2%;
    border: solid 2px var(--purple);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.container__filter>span {
    font-size: 12px;
}

.table__header__filter>th {
    text-align: justify;
    color: var(--lightpurple);
}

.table__filters>td:nth-child(3) {
    width: 50%;
}

.table__filters>td:nth-child(2) {
    width: 40%;
}

.table__filters {
    margin: 2% 8%;
    margin-bottom: 4%;
}

.table__filters>td {
    font-size: 12px;
}

.container__table__filter {
    max-height: 0;
}

.container__videos__result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.video__result__search {
    width: 21.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Desktop ---------- */

.container__tags__search__desktop {
    margin-top: 5%;
    width: 100%;
}

.container__filter__desktop {
    width: 5%;
    height: .2vh;
    margin: 2% 8%;
    gap: 5%;
    padding: 1.5%;
    border: solid 2px var(--purple);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.container__filter__desktop>span {
    font-size: 14px;
}

.container__videos__result__desktop {
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

/* Animações do filtro */

@keyframes open-filter {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 15%;
    }
}

/* Responsividade  */

@media screen and (min-width: 760px) {

    .container__input__search>input,
    .container__filter>span,
    .table__filters>td,
    .table__filters>tr {
        font-size: 14px;
    }

    .container__filter {
        width: 15%;
    }

    .container__videos__result {
        margin: 0;
    }
}

@media screen and (min-width: 1000px) {

    .table__filters>td:nth-child(3) {
        width: 50%;
    }
    
    .table__filters>td:nth-child(2) {
        width: 35%;
    }
    
}