body{
    background-color: var(--darkpurple);
}

.like__dislike__btns{
    display: flex;
    justify-content: end;
    gap: 0.6rem;
    float: right;
}

.views__div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.likes__div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: var(--lightpurple);
}

.interaction{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.9rem;
    margin: 1rem;
    font-weight: bolder;
}

.video__title{
    color: #fff;
    margin: 1rem;
    font-size: 2rem;
}

.interaction__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.video__player{
    margin: 0;
    width: 100%;
    height: 19rem;
}

.channel{
    width: max-content;
}

.comments__container{
    margin: 1rem;
}

.total__comments{
    color: var(--lightpurple);
}