.container__banner__category {
    background-color: var(--lightpurple);
    height: 5vh;
    min-height: 5vh;
    min-width: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
    border-radius: 20px;
}

.container__banner__large__category {
    background-color: var(--purple);
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container__banner__category:hover {
    cursor: pointer;
}

.container__banner__large__category:hover {
    cursor: pointer;
}

.container__banner__category__tablet {
    background-color: var(--lightpurple);
    height: 4vh;
    min-height: 4vh;
    min-width: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
    border-radius: 20px;
}

.container__banner__large__category__tablet {
    background-color: var(--purple);
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container__banner__category__tablet:hover {
    cursor: pointer;
}

.container__banner__large__category__tablet:hover {
    cursor: pointer;
}