@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkpurple);
  font-family: 'Roboto', sans-serif;
  color: var(--whitesmoke);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;           
}

body::-webkit-scrollbar-track {
  background: var(--darkpurple);     
}

body::-webkit-scrollbar-thumb {
  background-color: var(--lightpurple); 
  border-radius: 20px;   
  border: 3px solid var(--darkpurple);
}

:root {
  --whitesmoke: #F5F5F5;
  --beige: #EBEBEB;
  --darkpurple: #1F1D2B;
  --darkblue: #141317;
  --purple: #772CE8;
  --lightpurple: #BF94FF;
}