.not__found__image__container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100vh;
}

.not__found__image__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15%;
    color: var(--white);
}

.not__found__text__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.not__found__number {
    font-size: 100px;
    font-weight: 700;
    color: var(--purple);
}

.not__found__text {
    font-size: 50px;
    font-weight: 500;
}

.not__found__subtext {
    font-size: 20px;
    font-weight: 300;
}

.home__not__found {
    font-size: 20px;
    font-weight: bold;
    color: var(--purple);
    text-decoration: none;
    cursor: pointer;
}

.not__found__image {
    width: 25%;
}

.not__found__gif {
    width: 20%;
    rotate: 20deg;
}

.not__found__image__tablet {
    width: 75%;
}

.not__found__image__mobile {
    width: 100%;
}

.not__found__image__box__mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20%;
    width: 50%;
    height: 10vh;
    color: var(--white);
}